@import "../../forAll/productCard";

.foods-filter-comp {
  width: 100%;
  margin-bottom: 3em;
  .filter-nav {
    display: flex;
    justify-content: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    @media screen and (min-width: 1041px) {
      .icons-wrapper {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        gap: 3em;
        color: grey;
        .icon-badge {
          display: flex;
          flex-direction: column;
          gap: 5px;
          align-items: center;
          width: 130px;
          font-size: 18px;
          cursor: pointer;
          font-weight: 600;
          .icon {
            height: 45px;
            width: 45px;
            color: red;
          }
        }
      }
    }
    @media screen and (max-width: 1041px) {
      .icons-wrapper {
        margin-bottom: 0.5em;
        display: grid;
        width: 95vw;
        grid-template-columns: 1fr 1fr;
        gap: 1px;
        .icon-badge {
          display: flex;
          width: 100%;
          background-color: rgb(233, 233, 233);
          gap: 0.5em;
          padding: 5px;
          align-items: center;
          font-size: 14px;
          cursor: pointer;
          font-weight: 600;
          .icon {
            height: 32px;
            width: 32px;
            color: red;
          }
        }
      }
      @media screen and (max-width: 767.5px) {
        .icons-wrapper {
          margin-top: 0.5em;
        }
      }
    }
  }
}
.product-cards-outer {
  position: relative;
  display: grid;
  grid-template-columns: 97% 3%;
  width: 100%;
  .product-cards-wrapper {
    margin-top: 5px;
    margin-left: -1em;
    padding: 0 2em;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    .contain-product {
      padding: 10px;
    }
    .contain-product:hover {
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
  .alphabets {
    margin-left: -1em;
    right: 0;
    top: 10em;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    background-color: rgb(233, 233, 233);
    overflow-y: scroll;
    max-height: 631px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;
    .alphabet {
      padding-top: 4px;
      padding-left: 15px;
      text-align: left;
      align-self: center;
      justify-self: center;
      width: 60px;
      height: 35px;
    }
    .active-alphabet {
      background-color: rgb(207, 207, 207);
      color: #fff;
    }
    .cursorable:hover {
      color: #fff;
      cursor: pointer;
    }
  }
  @media screen and (max-width: 552px) {
    .alphabets {
      .alphabet {
        padding-top: 4px;
        padding-left: 0;
        text-align: center;
        min-width: 30px;
        height: 35px;
      }
    }
  }
}
.see-more-btn {
  margin-top: 1em;
  border: none;
  text-transform: uppercase;
  color: grey;
  background-color: transparent;
}
.see-more-btn:hover {
  background-color: transparent;
}
// -------------------------------------------------------
@media screen and (max-width: 552px) {
  .product-cards-wrapper {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    gap: 1em;
  }
}
