.laundry-and-household-comp {
  margin-bottom: 3em;
  .heading {
    font-weight: 700;
    align-items: flex-start;
    color: $mainColor;
    margin-bottom: 1em;
  }

  //
  .product-cards-wrapper {
    margin-top: 5px;
    padding: 0 2em;
    display: flex;
    gap: 5px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    .contain-product {
      padding: 10px;
      // .product-thumb {
      //   overflow: hidden;
      //   min-width: 210px;
      //   min-height: 210px;
      //   max-width: 210px;
      //   max-height: 210px;
      //   border: 1px solid rgb(210, 210, 210);
      //   .product-thumnail {
      //     width: 100%;
      //     height: 100%;
      //   }
      // }
    }
    .contain-product:hover {
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
  @media screen and (max-width: 552px) {
    .heading {
      font-size: 25px;
    }
    .product-cards-wrapper {
      padding: 0 0.3em;
    }
  }

  .see-more-btn {
    margin-top: 1em;
    border: none;
    background-color: transparent;
    color: grey;
    text-transform: uppercase;
  }
}
