.product-item {
  position: relative;
  margin: 0 0.5em;
  .product-discount {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    border: 3px solid white;
    box-shadow: 1px 2px 2px 1px rgba(128, 128, 128, 0.268);
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      rotate: -5deg;
      .save {
        font-size: 16px;
        margin-bottom: -8px;
        font-weight: 600;
      }
      .price {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  .contain-product {
    .product-thumb {
      cursor: pointer;
      .link-to-product {
        position: relative;
        .product-thumnail {
          // width: 270px !important;
          // height: 270px !important;
        }
      }

      .zoom-icon {
        position: absolute;
        right: 20px;
        bottom: 10px;
        color: rgb(112, 112, 112);
        width: 30px;
        height: 30px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        cursor: pointer;
      }
    }
    .product-thumb {
      overflow: hidden;
      min-width: 210px;
      min-height: 210px;
      max-width: 210px;
      max-height: 210px;
      border: 1px solid rgb(210, 210, 210);
      .product-thumnail {
        width: 100%;
        height: 100%;
      }
    }
    .info {
      margin-bottom: 5px;
      .product-title {
        .pr-name {
          font-size: 15px;
          color: #000;
          cursor: pointer;
        }
      }
      .product-price {
        font-weight: 600;
        display: flex;
        justify-content: center;
        gap: 0.5em;
        .current-price {
          color: #000;
          font-weight: 600;
          font-size: 17px;
        }
        .previous-price {
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
    .action-btns-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .add-to-card-btn {
        background-color: $mainColor;
        font-size: 12px;
        border-radius: 30px;
        font-weight: 600;
        color: #fff;
        padding: 7px 25px;
        margin-bottom: 1em;
      }
      .add-to-card-btn:hover {
        background-color: rgb(85, 85, 85);
      }
      .plus-minus-btns-wrapper {
        margin-bottom: 0.8em;
        display: flex;
        height: 35px;
        border-radius: 30px;
        width: max-content;
        overflow: hidden;
        border: 2px solid rgb(223, 223, 223);
        .minus {
          border-right: 1px solid rgb(223, 223, 223);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          cursor: pointer;
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 5px;
        }
        .minus:hover {
          color: #000;
        }
        .input-field {
          border: none;
          width: 50px;
          padding: 0;
          text-align: center;
        }
        .plus {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          font-size: 25px;
          font-weight: 600;
          border-left: 1px solid rgb(223, 223, 223);
          padding-bottom: 5px;
        }
        .plus:hover {
          color: #000;
        }
      }
    }
  }
}
.product-item:hover {
  .contain-product {
    .product-thumb {
      .btn_call_quickview {
        background-color: transparent;
        border: none;
      }
      .zoom-icon {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: transform 300ms ease-in-out 100ms;
        -moz-transition: transform 300ms ease-in-out 100ms;
        -o-transition: transform 300ms ease-in-out 100ms;
        transition: transform 300ms ease-in-out 100ms;
      }
      .zoom-icon:hover {
        color: $mainColor;
      }
    }
  }
}

@media screen and (max-width: 552px) {
  .product-item {
    width: 100%;
    position: relative;
    margin: 0 0.5em;
    box-shadow: 1px 1px 5px 1px rgba(226, 226, 226, 0.737);
    .product-discount {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mainColor;
      border: 3px solid white;
      box-shadow: 1px 2px 2px 1px rgba(128, 128, 128, 0.268);
      .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        rotate: -5deg;
        .save {
          font-size: 16px;
          margin-bottom: -8px;
          font-weight: 600;
        }
        .price {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    .contain-product {
      // display: flex;
      // gap: 1em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
      // .product-thumb {
      //   background-color: yellow;
      //   padding: 1em !important;
      //   width: 210px !important;
      //   height: 210px !important;
      //   .link-to-product {
      //     position: relative;
      //     .product-thumnail {
      //       // width: 50px !important;
      //       // height: 50px !important;
      //     }
      //   }
      // }
      .product-thumb {
        overflow: hidden;
        // min-width: 210px;
        // min-height: 210px;
        // max-width: 210px;
        // max-height: 210px;
        min-width: auto;
        min-height: 150px;
        max-width: auto;
        max-height: 150px;
        border: 1px solid rgb(210, 210, 210);
        .product-thumnail {
          width: 100%;
          height: 100%;
        }
      }
      .info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          gap: 1em;
          .product-title {
            .pr-name {
              font-size: 20px;
              color: #000;
              cursor: pointer;
            }
          }
          .product-price {
            display: flex;
            flex-direction: column;
            font-weight: 600;
            justify-content: flex-start;
            gap: 0;
            .current-price {
              color: #000;
              font-weight: 600;
              font-size: 17px;
            }
            .previous-price {
              font-weight: 600;
              font-size: 14px;
              padding-left: 0;
              text-align: left;
            }
          }
        }
        .action-btns-wrapper {
          min-width: 100%;
          display: flex;
          flex-direction: column;
          text-align: left;
          align-items: flex-start;
          .add-to-card-btn {
            background-color: $mainColor;
            font-size: 9px;
            border-radius: 30px;
            font-weight: 600;
            color: #fff;
            padding: 7px 25px;
            margin-bottom: 1em;
            min-width: 100px;
          }
          .add-to-card-btn:hover {
            background-color: rgb(85, 85, 85);
          }
          .plus-minus-btns-wrapper {
            margin-bottom: 0.8em;
            display: flex;
            height: 29px;
            min-width: 110px;
            border-radius: 30px;
            overflow: hidden;
            border: 2px solid rgb(223, 223, 223);
            .minus {
              border-right: 1px solid rgb(223, 223, 223);
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              cursor: pointer;
              font-size: 20px;
              font-weight: 600;
              padding-bottom: 5px;
            }
            .minus:hover {
              color: #000;
            }
            .input-field {
              border: none;
              width: 45px;
              padding: 0;
              text-align: center;
            }
            .plus {
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              font-size: 20px;
              font-weight: 600;
              border-left: 1px solid rgb(223, 223, 223);
              padding-bottom: 5px;
            }
            .plus:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .zoom-icon {
    display: none;
  }
}
