.pickup-form {
  font-size: 12.5px;
  .MuiTypography-root {
    font-size: 12.5px !important;
    font-weight: 600;
  }
  .css-17yyoxz-MuiFormControlLabel-root .MuiFormControlLabel-label {
    color: $mainColor;
  }
  .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: left;
  }
}
