.delivery-orders-page {
    text-align: left;
    width: 74%;
    .heading {
      margin-top: 1em;
      font-size: 23px;
      font-weight: 600;
      margin-bottom: 1.5em;
    }
    .btn-wrapper {
      margin-top: 1em;
      display: flex;
      gap: 1em;
      justify-content: flex-end;
      .action-btn {
        width: 200px;
        color: #424242;
        border: 1.5px solid #424242;
        text-transform: capitalize;
        font-size: 12.5px;
        font-weight: 600;
      }
      .action-btn:hover {
        background-color: $mainColor;
        color: #fff;
        border: none;
      }
      .cancel-btn {
        width: 120px;
      }
      .cancel-btn:hover {
        background-color: #424242;
      }
    }
  }
  
  @media screen and (max-width: 650px) {
    .delivery-orders-page {
      width: 100%;
    }
  }
  