.products-page {
  .content {
    display: flex;
    .category-bar {
      min-width: 300px;
      height: 100vh;
      display: flex;
      flex-direction: column;
      .category-section {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 1em;
        padding-left: 2em;
        text-align: left;
        color: #000;
        .category-name {
          font-weight: 600;
        }
        .cat {
          cursor: pointer;
          border-bottom: 1px solid silver;
        }
        .cat:hover {
          color: grey;
        }
      }
    }
    @media screen and (max-width: 990.5px) {
      .category-bar {
        display: none;
      }
    }

    .product-cards-wrapper {
      width: 100%;
      margin: 1em 0;
      .product-cards-alphabets-wrapper {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 96% 4%;
        .product-cards {
          min-width: 100%;
          padding: 0 0em;
          display: flex;
          justify-content: flex-start;
          gap: 5px;
          row-gap: 15px;
          flex-wrap: wrap;
          list-style-type: none;
          .contain-product:hover {
            -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          }
        }
        .alphabets {
          min-width: 3em;
          background-color: rgb(233, 233, 233);
          overflow-y: scroll;
          max-height: 631px;
          color: #000;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.5em;
          .alphabet {
            padding-top: 4px;
            padding-left: 15px;
            text-align: left;
            align-self: center;
            justify-self: center;
            width: 100%;
            height: 35px;
          }
          .active-alphabet {
            background-color: rgb(207, 207, 207);
            color: #fff;
          }
          .cursorable:hover {
            color: #fff;
            cursor: pointer;
          }
        }
      }
      @media screen and (max-width: 749px) {
        .product-cards-alphabets-wrapper {
          grid-template-columns: 95% 5%;
          .alphabets {
            .alphabet {
              text-align: left;
              min-width: 20px;
            }
          }
        }
      }
      @media screen and (max-width: 552px) {
        .product-cards-alphabets-wrapper {
          grid-template-columns: 92% 8%;
        }
      }
    }

    @media screen and (max-width: 552px) {
      .product-cards-wrapper {
        padding: 0 5px;
        .product-cards {
          padding: 0 0em;
        }
      }
    }
  }
}

// ------------------------------------
.mobile-category-bar-overlay {
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.292);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.mobile-category-bar {
  background-color: #fff;
  box-shadow: 5px 5px 5px 1px rgba(128, 128, 128, 0.163);
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 300px;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  .close-icon {
    top: 1em;
    right: 1em;
    position: absolute;
    cursor: pointer;
  }
  .close-icon:hover {
    color: $mainColor;
  }
  .category-bar {
    display: flex;
    flex-direction: column;
    .category-section {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      padding: 1em;
      text-align: left;
      color: #000;
      .category-name {
        font-weight: 600;
      }
      .cat {
        cursor: pointer;
        border-bottom: 1px solid silver;
      }
      .cat:hover {
        color: grey;
      }
    }
  }
}
@media screen and (min-width: 990.5px) {
  .mobile-category-bar {
    display: none;
  }
  .mobile-category-bar-overlay {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .mobile-category-bar {
    width: 100%;
  }
}
