.action-form {
  .kilogram-wrapper {
    margin: 1em 0;
    .lable {
      font-weight: 600;
      color: #000;
    }
  }
  .qty-btn-wrapper {
    margin-top: 1em;
    overflow: hidden;
    height: 45px;
    width: 100%;
    display: flex;
    border-radius: 30px;
    .input {
      height: 100%;
      width: 40%;
      border: none;
      text-align: center;
      font-size: 18px;
    }
    .minus {
      cursor: pointer;
      background-color: $mainColor;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 100%;
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 5px;
    }
    .plus {
      cursor: pointer;

      background-color: $mainColor;
      color: #fff;
      // border-left: 1px solid black;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30%;
      height: 100%;
      font-size: 30px;
      font-weight: 600;
      padding-bottom: 5px;
    }
  }
  .buttons {
    .mini-btns {
      margin-top: 1em;
      .wishlist-btn {
        cursor: pointer;
      }
      .wishlist-btn:hover {
        color: $mainColor;
      }
      .checkout-btn {
        cursor: pointer;
        .cart-icon {
          margin-right: 5px;
        }
      }
      .checkout-btn:hover {
        color: $mainColor;
      }
    }
  }
}
