$mainColor: #e73918;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import "./scssPartials/main/header";
@import "./scssPartials/pages/home/home";
@import "./scssPartials/forAll/multiCarousel";
@import "./scssPartials/forAll/gallerySlider";
@import "./scssPartials/forAll/quickDetailViewPopup";
@import "./scssPartials/pages/detailPage/detailPage";
@import "./scssPartials/forAll/productCard";
@import "./scssPartials/forAll/muiTabs";
@import "./scssPartials/forAll/modalCart";
@import "./scssPartials/pages/cart/cart";
@import "./scssPartials/pages/checkout/checkout";
@import "./scssPartials/pages/register/register";
@import "./scssPartials/pages/products/products";
@import "./scssPartials/pages/footer/footer";
